@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500;700;900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --background-color: #ffffff;
    --card-background-color: #ffffff;
}

body.dark-mode {
    --primary-text-color: #0a0000;
    --secondary-text-color: #231b1b;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --background-color: #121212;
    --card-background-color: #878585;
}

body{
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
    background-color: var(--background-color);
    transition: background-color 0.5s ease, color 0.5s ease;
}

p{
    font-family: "Roboto", sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}

nav{
    background-color: var(--background-color);
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
}

.main-nav{
    justify-content: space-between;
    padding-block: 8px;
}

.logo img{
    width: 120px;
}

.nav-links ul{
    gap: 16px;
}

.nav-links ul li {
    color: var(--primary-text-color);
}

body.dark-mode .nav-links ul li {
    color: #ffffff;
}

.hover-link{
    cursor: pointer;
}

.hover-link:hover{
    color: var(--secondary-text-color);
}

.hover-link:active{
    color: crimson;
}

.nav-item.active{
    color: var(--accent-color);
}

.search-bar{
    height: 32px;
    gap: 8px;
}

.news-input{
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
    font-family: "Roboto", sans-serif;
}

.search-button, .dark-button {
    background-color: var(--accent-color);
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.search-button:hover, .dark-button:hover {
    background-color: var(--accent-color-dark);
}

main {
    padding-block: 20px;
    margin-top: 80px;
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}

.card {
    width: 360px;
    height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    border-color: #231b1b;
    cursor: pointer;
    background-color: var(--card-background-color);
    overflow: hidden;
    transition: all 0.3s ease;
    transition: background-color 0.3s ease;
}

.card:hover {
    box-shadow: 1px 1px 8px var(--accent-color);
    transform: translateY(-7px);
}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
}

.news-source {
    margin-block: 12px;
}
